<script>
  console.log('Checking to see if we submitted');
</script>

<style>
  .form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid green;
    padding: 10px;
  }

  .form-field h2,
  .form-field p {
    margin: 0;
  }
</style>

<div class="form-field">
  <h2>New Portmanteau: </h2> 
  <%= @newPort %>
</div>